{% extends 'level_base.html' %}

{% block script %}
	{% if user.is_authenticated %}
		{% load serve_questions %}
		'use strict';
		var questions = [
		{% for question in level.question_set.all %}
			{
				{% if question.use_template %}
					template: true,
					{% if question.text %}text: '{{question.text}}',{% endif %}
					{% if question.image %}image: '/{{ MEDIA_URL }}{{question.image.url}}',{% endif %}
					{% if question.audio %}audio: '/{{ MEDIA_URL }}{{question.audio.url}}',{% endif %}
					
				{% else %}
					template: false,
					filelink: '/{{question.customHTML.url}}',
				{% endif %}
				
				{% sort_answers question.answer_set.all as answers %}
				{% if question.qtype == 0 %}
				type: 0,
				rightAnswer: '{{ answers.right.0 }}',
				wrongAnswers: [
					{% for i in answers.wrong %}
					'{{i}}',
					{% endfor %}
				],
				{% elif question.qtype == 1 %}
				type: 1,
				rightAnswers: [
					{% for i in answers.right %}
					'{{i}}',
					{% endfor %}
				],
				wrongAnswers: [
					{% for i in answers.wrong %}
					'{{i}}',
					{% endfor %}
				],
				{% else %}
				type: 2,
				rightAnswers: [
					{% for i in answers.right %}
					'{{i}}',
					{% endfor %}
				],
				{% endif %}
			},
		{% endfor %}
		]
	{% else %}
	questions = null;
	{% endif %}
{% endblock %}


{% block question %}
	{% if not user.is_authenticated %}
		Чтобы проходить уровни необходимо <a href="/accounts/login">войти</a>/<a href="/profiles/register">зарегистрироваться</a>
	{% else %}
	<script>
		var send_result = function(result) {
			$.ajax({
				url: window.location + "/saveres",
				type: "POST",
				dataType: "json",
				data: {
					result: result,
					csrfmiddlewaretoken: '{{ csrf_token }}'
					},
				success : function(json) {
					window.location += '/finish';
				},
				error : function(xhr,errmsg,err) {
					console.log('Data transmit unsucceeded');
				}
			});
		};
	</script>
	{% endif%}
{% endblock %}

{% block theme %}
<p>{{ level.theme }}</p>
{% endblock %}