{% extends 'tutorial_base.html' %}

{% block main %}
<p class="congratulations">Тема <span class="themename">{{tutorial.theme}}</span> изучена!</p>
<p class="text">Теперь ты на один шаг ближе к званию</p>
<p class="master"> Мастера румынского языка!</p>
<p class="level">Осталось пройти уровень,</p><p class="level"> чтобы закрепить знания:</p>
<div class="levelBlock" style="background-image: url(/{{ MEDIA_URL }}{{image}});" id="levelBlock" onclick="window.location='/levels/{{tutorial.name}}'"></div>
{% endblock %}

{% block script %}
window.onload = function(){
	level = document.getElementById('levelBlock');
	level.style.height = (level.clientWidth * 0.56) + 'px';

	document.getElementById('main').style.height = window.innerHeight + 'px';
	if (window.innerHeight > window.innerWidth) {
		document.getElementById('main').style.width = '90%';
	} else {
		document.getElementById('main').style.width = '50%';
	}
}
window.onresize = window.onload;
{% endblock %}