<!doctype html>
<html>

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Курсовая</title>
	{% load static %}
	<link href="{% static 'css/tutorial.css' %}" rel="stylesheet" type="text/css">
	<script>
		{% block script %} {% endblock %}
	</script>
	{% if not finished %}<script src="{% static 'js/tutorial.js' %}"></script>{% endif %}
</head>

<body class="body">
	<div class="main" id="main">
		<div class="theme" id="theme">{% block theme %} {% endblock %}</div>
		<div class="question" id="question">{% block question %} {% endblock %}</div>
		<div class="answers" id="answers">{% block answers %} {% endblock %}</div>
	</div>
</body>

</html>
