{% extends 'main_base.html' %}

{% block content %}
<div class="content" id="content">
	{% if leveltheme.level_set.all.count > 0 %}

		{% load define_counter %}
		{% define 0 as counter %}

		{% for level in leveltheme.level_set.all %}
		{% increase counter as counter %}
		{% decideCB counter as cb_required %}
		
		{% load static %}
		<div class="levelBlock FL{% if cb_required %} CB{% endif %}" style="background-image: url({% static level.background %});"></div>
		{% endfor %}
		<p class="filler CB"></p>
	{% else %}
	<h1>Нет здесь нихуя, отстань</h1>
	{% endif %}
</div>
<script src="{% static 'js/ResizeBlocks.js' %}"></script>
{% endblock %}