@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.FL {
  float: left;
}

.FR {
  float: right;
}

.CB {
  clear: both;
}

.body {
  background-image: linear-gradient(to left, rgb(255, 33, 129), rgb(250, 72, 125), rgb(245, 110, 121), rgb(240, 149, 116), rgb(235, 187, 112), rgb(230, 226, 108), rgb(202, 201, 133), rgb(174, 175, 157), rgb(146, 150, 182), rgb(117, 125, 206), rgb(89, 99, 231), rgb(61, 74, 255));
}
.drop {
	display: none;
}
.menuList li:hover .drop{
	display: block;
}
.navigation {
  height: 40px;
  margin: 40px auto;
  background-color: rgba(23, 23, 50, 0.7);
  text-align: center;
  border-radius: 4px;
  z-index: -123;
}

.menuList {
  width: 80%;
  height: 100%;
  list-style: none;
  display: inline-block;
  z-index: 999;
}

.menuList li {
  white-space: nowrap;
  width: 15%;
  height: 100%;
  margin: 0;
  z-index: 999;
}

.firstLi {
  width: 25% !important;
}

.menuList li a {
  border-left: 1px solid rgba(23, 23, 50, 1);
  z-index: 999;
  text-decoration: none;
  color: #ffe;
  text-transform: capitalize;
  font-family: monospace;
  display: block;
  padding: 10px 2%;
  font-size: 16px;
  transition: background-color 0.5s ease-in-out;
  font-family: "Raleway", sans-serif;
}

.menuList li a:hover {
  background-color: #631818;
}

.drop {
  list-style: none;
}

.drop li {
  width: 100%;
  opacity: 0;
  transform-origin: top center;
}

.dropMenuSmall li {
  width: 50%; !important
}

.drop li a {
  background-color: rgba(23, 23, 50, 0.7);
  padding: 10px 0;
  z-index: 999;
}

.drop li a:hover {
  background-color: #631818;
  padding: 10px 0;
  z-index: 999;
}

.menuList li:hover .menu li:first-of-type {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
  z-index: 999;
}

.menuList li:hover .menu li:nth-of-type(2) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.4s;
  z-index: 999;
}

.menuList li:hover .menu li:nth-of-type(3) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
  z-index: 999;
}
.menuList li:hover .menu li:nth-of-type(4) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
  z-index: 999;
}
.menuList li:hover .menu li:nth-of-type(5) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.7s;
  z-index: 999;
}
.menuList li:hover .menu li:nth-of-type(6) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.8s;
  z-index: 999;
}
.menuList li:hover .menu li:nth-of-type(7) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
  z-index: 999;
}

.menuList li:hover .menu li:nth-of-type(8) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 1.0s;
  z-index: 999;
}

@keyframes menu2 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.main {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 50px;
  height: 500px;
  width: 80%;
  background-color: white;
  background: url(50%-transparent-white.png);
  background: rgba(255, 255, 255, 0.5);
  z-index: -999;
}

.content {
  text-align: center;
}

.content div {
  opacity: 1;
}

.register {
  margin-top: 30px;
  width: 50%;
  height: 25px;
  border-radius: 40px;
}

.levelBlock {
  width: 20%;
  margin-left: 4%;
  margin-bottom: 4%;
  background-color: red;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.filler {
  height: 0 !important;
  width: 0 !important;
}

.stars {
  width: 18%;
}