{% extends 'main_base.html' %}

{% block content %}
<div class="content" id="content">
	{% if object_list %}
				
		{% load define_counter %}
		{% define 0 as counter %}

		{% for object in object_list %}
		{% increase counter as counter %}
		{% decideCB counter as cb_required %}
		
		{% load static %}
		<div onclick="window.location='{{object.get_absolute_url}}'" class="levelBlock FL{% if cb_required %} CB{% endif %}" style="background-image: url(/{{ MEDIA_URL }}{{object.background.url}});"></div>
		{% endfor %}
		<p class="filler"></p>
	{% else %}
	<h1>Нет здесь нихуя, отстань</h1>
	{% endif %}
</div>
<script src="{% static 'js/ResizeBlocks.js' %}"></script>
{% endblock %}