<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Курсовая</title>
	<link href="mobile.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body">
	<nav class='navigation'>
		<ul class="menuList">
			<li class="DL">
				<div class="burger"></div>
				<ul class="drop menu">
					<li><a href="mobile.html">Акаунт</a></li>
					<li><a href="Levels.html">Обучение</a></li>
					<li><a href="Learning.html">Игры</a></li>
				</ul>
			</li>
			<li class="FC"><a href="index.html" class="FA">Курсач</a></li>
			<li class="FR"><a href="ОЛЕжА.html" class="FA">Вход</a></li>
		</ul>
	</nav>
	<div class="CB main"> <div class="content" id="content"> </div> </div>
</body>
</html>
